@import url('https://fonts.googleapis.com/css?family=Lato" rel="stylesheet');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #9bccd0;
  height: 450px;
  padding: 120px;
  color: white;
}

.bannerHow {
  background-color: #ffffff;
  height: 400px;
  padding: 120px;
  color: white;
}

.aboutbanner {
  background-color: #ffffff;
  height: 400px;
  padding: 120px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Lato';
}

.codeLogo {
  font-family: 'Lato', bold;
}
